@model IEnumerable<PunchPad.Models.PremAttendance>

@{
    ViewData["Title"] = "ManageTeamAttendance";
}



<form class="Date-Form" id="date-picker-form" asp-action="ManageTeamAttendance" >
    <input type="text" name="keyword" id="keyword" class="date-picker" placeholder="Search by Name">
    <input type ="date" id="date-picker" name="date" class="date-picker" value='@ViewBag.date.ToString("o").Substring(0,10)' />
    <input type="submit" class="btn btn-primary date-search" value="Search Attendance"/>
</form>
@if(@ViewBag.keyword!=null && @ViewBag.keyword!=""){
    <div class="text-primary fw-bold">Showing Search results for @ViewBag.keyword</div>
}
<table class="table">
    <thead>
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.Emp.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
               <a asp-controller="Employee" asp-action="Dashboard" asp-route-name="@item.Emp.Username">@Html.DisplayFor(modelItem => item.Emp.Name)</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceTime)
            </td>
            <td>
                @if(@item.AttendanceType=="In"){
                <span class="text-success fw-bold">@Html.DisplayFor(modelItem => item.AttendanceType)</span>
                }else{
                <span class="text-danger fw-bold">@Html.DisplayFor(modelItem => item.AttendanceType)</span>
                }
            </td>
            <td>
                @if(@item.AttendanceStatus=="Approved"){
                <span class="text-success fw-bold">@Html.DisplayFor(modelItem => item.AttendanceStatus)</span>
                }else{
                <span class="text-warning fw-bold">@Html.DisplayFor(modelItem => item.AttendanceStatus)</span>
                }
            </td>
            <td>
                @Html.ActionLink("Approve","UpdateAttendance", new {  id=item.Id,status="Approved"  }, new {@class="btn btn-success"})
                @Html.ActionLink("Discard","UpdateAttendance", new {  id=item.Id,status="Discarded"  }, new {@class="btn btn-danger"})
                @* <a asp-action="Approve" asp-route-id="@item.Id"><i class="fa-sharp fa-solid fa-check"></i></a>
                <a asp-action="Discard" asp-route-id="@item.Id"><i class="fa-solid fa-xmark"></i></a> *@
            </td>
        </tr>
}
    </tbody>
</table>
